<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60458812489-6iloaicpcgh4bf3c3htefmv2vv1o2aom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60458812489-6iloaicpcgh4bf3c3htefmv2vv1o2aom</string>
	<key>API_KEY</key>
	<string>AIzaSyBpKKJeU_uom-IClK-bPnfFnf8GljcYYvM</string>
	<key>GCM_SENDER_ID</key>
	<string>60458812489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ardiga.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-7fde4</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-7fde4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60458812489:ios:390fffbea8c42f27d22b98</string>
	<key>DATABASE_URL</key>
	<string>https://artable-7fde4.firebaseio.com</string>
</dict>
</plist>